<!-- {% section 'snippet' %} -->


<section class="hero-section container">
        
        <div class="hero-img justify-content-center">
            {% if section.settings.image != blank %}
                <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
            {% else %}
                {% capture current %}{% cycle 1,2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg'}}
            {% endif %}
        </div>
        

        <div class="container py-5 hero-content">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1>{{ section.settings.title }}</h1>
                    <p>{{ section.settings.description }}</p>
                </div>
            </div>
        </div>

</section>

{% schema %}
{
    "name": "Hero",
    "class": "hero-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Heading Background Title"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Example Heading",
            "label": "Heading Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "default": "<p>Example paragraf</p>",
            "label": "Heading Title"
        }
    ],
    "presets": [
        {
            "category": "Hero",
            "name": "Simple Hero"
        }
    ]

}
{% endschema %}