
{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}





<div class="featured-collection-slider container">
  
    {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}

    
    {%- assign collection = collections[section.settings.collection] -%}
    {%- assign product_limit = section.settings.product_count -%}
    
    <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
        {% for product in collection.products limit: product_limit %}
        {% assign variant = product.variants %}

          <div class="carousel-cell">
            <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}">
            <div class="carousel-content">
              <div class="carousel-content-info">
                <a href="{{ product.url | within: collection }}">
                  <h4>{{ product.title }}</h4>
                </a>
                <p>{{ product.price | money }}</p>
                <!-- <p>{{ variant[0].id }}</p> -->
              </div>
              <div class="carousel-content-buy">
                
                <form action="#" class="addToCartForm" id="addToCartForm">
                  <input class="itemId" type="hidden" name="id" id="itemId" value="{{ variant[0].id }}">
                  <input type="hidden" name="quantity" value="1" min="1">
                  <button type="submit" class="btn btn-secondary ">
                    <i class="fas fa-cart-plus"></i>
                    Add to cart
                  </button>
                
                </form>
              </div>
            </div>
              

          </div>  
        {% endfor %}
    </div>
</div>


{% schema %}
{
  "name": "Collection Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 4,
      "max": 12,
      "label": "Number of products to display",
      "default": 4
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection Slider",
      "settings": {}
    }
  ]
}
{% endschema %}